terraform/.terraform/
terraform/tfplan
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraformDigitalOcean/.terraform/
terraformDigitalOcean/tfplan
terraformDigitalOcean/terraform.tfvars
terraformDigitalOcean/.terraform.lock.hcl
terraformDigitalOcean/terraform.tfstate.backup
terraformDigitalOcean/terraform.tfstate